.contents
  = render "layouts/global-navigation"
  .main
    .index-field
      .sub-title
        ユーザー一覧
      .sub-title__msg
        プロジェクトに参加している全メンバーが見られます！
      - if current_user.has_role? :admin
        .sub-title
          = link_to "ユーザー新規作成", new_user_registration_path, class: 'btn btn-primary btn-sm'
      .users-container
        - @users.each do |user|
          .users-box
            = link_to user_path(user) do
              .users-box__avatar
                - if user.avatar.attached?
                  = image_tag user.avatar
              .users-box__name
                = user.name
              .users-box__profile
                = user.profile
              .users-box__register-date
                ユーザー登録日：#{user.created_at.strftime("%Y/%m/%d")}
              .users-box__last-updated
                最終ログイン：
                - if user.current_sign_in_at.present?
                  = "#{user.current_sign_in_at.strftime("%Y/%m/%d %H:%M")}"
