.user-contents
  = render "layouts/user-header"
  .user-main
    .user-field
      .info-box
        .info-box__img
          - if @user.avatar.attached?
            = image_tag @user.avatar
        .info-box__msg
          %dl
            %dt ユーザー名：
            %dd
              = @user.name
            %dt プロフィール：
            %dd
              = @user.profile
            %dt ポジション：
            %dd
              = @user.position
            %dt 所属プロジェクト:
            %dd
              - @user.projects.each do |project|
                %ul
                  %li
                    = link_to "#{project.name}", project_path(project)
          %br
          - if user_signed_in? && current_user.id == @user.id
            = link_to "ユーザー情報を編集する", edit_user_path(@user)
            %br
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %br
          %br

          - if user_signed_in? && @user.id == current_user.id && current_user.admin.present?
            = "■管理者用メニュー"
            %br
            = link_to "新規プロジェクト作成", new_project_path
          %br
          %br
          = link_to "戻る", :back

-# %p= link_to "アサインプロジェクト編集", edit_project_path
-#   .index-box__img_edit
-#     画像を変更する
-#     = form_with(model: @user, local: true) do |form|
-#       = form.label :image
-#       = form.file_field :image
-#       = form.hidden_field :image_cache
-#       = form.submit
