%h1 ユーザー詳細画面

%h2 ■基本情報
%br

.index-box__img
- if @user.avatar.attached?
  = image_tag @user.avatar

%br

ユーザー名：
= @user.name
%br
プロフィール：
= @user.profile
%br
ポジション：
= @user.position
%br
%br
- if user_signed_in? && current_user.id
  = link_to "ユーザー登録情報を編集する", edit_user_path(@user)
%br
%br
%h2 ■所属プロジェクト
- @user.projects.each do |project|
  %ul
    %li
      = link_to "#{project.name}", project_path(project)

%br
= link_to "ログアウト", destroy_user_session_path, method: :delete
%br
= link_to "トップページへ", root_path


-# %p= link_to "アサインプロジェクト編集", edit_project_path
-#   .index-box__img_edit
-#     画像を変更する
-#     = form_with(model: @user, local: true) do |form|
-#       = form.label :image
-#       = form.file_field :image
-#       = form.hidden_field :image_cache
-#       = form.submit
