.container
  = render "layouts/global-navigation"
  .container.container-m.main
    .row
      %h1.sub.mb-4
        メンバー情報
    .row
      .col-sm-12
        .card.border-0
          .row.no-gutters
            .col-md-4
              .bd-placeholder-img.h-100
                - if @user.avatar.attached?
                  = image_tag @user.avatar, class: "img-responsive center-block"
            .col-md-5
              .card-body
                %h2.card-title
                  = @user.name
                .card-text
                  = @user.profile
              %ul.list-group.list-group-flush
                %li.list-group-item.border-0.py-0
                  メールアドレス：#{@user.email}
                %li.list-group-item.border-0.pb-0
                  ポジション: #{@user.position}
                %li.list-group-item.border-0.py-0
                  ユーザー登録日：#{l @user.created_at, format: :day}
                %li.list-group-item.border-0.py-0
                  ユーザー権限：
                  - if @user.has_role? :admin
                    = "管理者"
                  - elsif @user.has_role? :operator
                    = "一般ユーザー"
                %li.list-group-item.border-0.pt-0
                  最終ログイン：
                  - if @user.current_sign_in_at.present?
                    = l @user.current_sign_in_at, format: :short
            .col-md-3.border-left
              .card-body
                .card-text
                  所属プロジェクト：
                  - @user.projects.each do |project|
                    %ul.m-0.p-0
                      %li.m-0.p-0
                        = link_to "#{project.name}", project_posts_path(project)
    .row.mt-4
      .col-sm-12
        .user-items__button-box
          .user-items__button-box__users-btn
            = link_to "メンバーディレクトリへ戻る", users_path, class: "btn btn-secondary"
          - if current_user.has_role? :admin
            .user-items__button-box__users-btn
              = link_to "#{@user.name}さんのユーザー情報を編集する", edit_user_path(@user), class: "btn btn-primary"
            .user-items__button-box__users-btn
              = button_to 'このユーザーを削除する', user_path, data: { confirm: "ユーザー:#{@user.name}を削除します。よろしいですか？"},  method: :delete, class: "btn btn-danger"
          - elsif current_user.id == @user.id
            .user-items__button-box__users-btn
              = link_to "#{@user.name}さんのユーザー情報を編集する", edit_user_path(@user), class: "btn btn-primary"


