.contents
  = render "layouts/global-navigation"
  .main
    .user-field
      .sub-msg
        ユーザー詳細
      .user-items
        .user-items__avatar-box
          - if @user.avatar.attached?
            = image_tag @user.avatar
        .user-items__info-box
          %table
            %tbody
              %tr
                %th ユーザー名
                %td
                  = @user.name
              %tr
                %th ポジション
                %td
                  = @user.position
              %tr
                %th メールアドレス
                %td
                  = @user.email
              %tr
                %th プロフィール
                %td
                  = @user.profile
              %tr
                %th 所属プロジェクト
                %td
                  - @user.projects.each do |project|
                    %ul
                      %li
                        = link_to "#{project.name}", project_posts_path(project)
              %tr
                %th ユーザー登録日
                %td
                  = @user.created_at.strftime("%Y/%m/%d")
              %tr
                %th ユーザー権限
                %td
                  - if @user.admin?
                    = "管理者"
                  - else
                    = "一般ユーザー"
              %tr
                %th 最終ログイン
                %td
                  2020/11/16 15:30
        .user-items__button-box
          - if current_user.id == @user.id
            .user-items__button-box__users-btn
              = link_to "#{@user.name}さんのユーザー情報を編集する", edit_user_path(@user)
          .user-items__button-box__users-btn
            = link_to "戻る", :back
          .user-items__button-box__users-btn
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          - if current_user.admin?
            .user-items__button-box__users-btn
              = button_to 'このユーザーを削除する', user_path, method: :delete
