= form_with model: project, local: true do |f|
  - if group.errors.any?
    .SettingGroupForm__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .SettingProjectForm__field
    .SettingProjectForm__leftField
      = f.label :name, "グループ名", class: 'SettingProjectForm__label'
    .SettingProjectForm__rightField
      = f.text_field :name, class: 'SettingProjectForm__input', placeholder: 'グループ名を入力してください'
  .SettingProjectForm__field
    .SettingProjectForm__leftField
      %label.SettingProjectForm__label チャットメンバーを追加
    .SettingProjectForm__rightField
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      = f.collection_check_boxes :user_ids, User.all, :id, :name
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .SettingProjectForm__field
    .SettingProjectForm__leftField
    .SettingProjectForm__rightField
      = f.submit class: 'SettingProjectForm__button'
