.contents
  = render "layouts/global-navigation"
  .main
    .index-sub
      .index-sub__msg
        アサインするプロジェクトを選んでください！
      .index-sub__list
        - @projects.each do |project|
          .prj-list
            = link_to project_path(project) do
              .prj-list__prj-name
                = project.name
              .prj-list__prj-profile
                = project.profile
        %br
        = link_to "ログアウト", destroy_user_session_path, method: :delete
