.contents
  = render "layouts/global-navigation"
  .main
    .index-field
      .sub-msg
        プロジェクト一覧
      .pj-container
        - @projects.each do |project|
          .pj-box
            = link_to project_posts_path(project) do
              .pj-box__pj-name
                = project.name
              .pj-box__pj-members
                %ul.member-list
                  - project.users.each do |member|
                    %li.member-icons
                      - if member.avatar.attached?
                        = link_to user_path(member) do
                          = image_tag member.avatar
              .pj-box__pj-profile
                = project.profile
              .pj-box__pj-start
                作成者：#{project.creator}
                作成日：#{project.created_at.strftime("%Y/%m/%d")}
              .pj-box__pj-last-updated
                最終更新：2020/11/18
              .pj-box__pj-member-count
                メンバー：#{project.users.count}人
