.contents
  = render "layouts/global-navigation"
  .main
    .index-field
      .sub-msg
        アサインするプロジェクトを選んでください！
      .pj-container
        - @projects.each do |project|
          .pj-box
            = link_to project_path(project) do
              .pj-box__pj-name
                = project.name
              .pj-box__pj-member
                作成者：〇〇 人数：#{project.users.count}
                -# = project.creater
              .pj-box__pj-start
                作成日：
                = project.created_at.strftime("%Y/%m/%d")
              .pj-box__pj-profile
                = project.profile
