= render "layouts/global-navigation"
= render partial: 'layouts/error_messages', locals: { model: @message}
= render "layouts/pj-header"
.container-fluid.main
  .row.mx-2
    .col-sm-12.col-md-8
      %h3.msg-board.py-2.pl-5
        - if @messages
          - @messages.each do |m|
            %dl.msg-list
              %dt.msg-list__sub
                = m.title
              %dd.msg-list__datetime
                = "by #{m.user.name} (#{l m.created_at, format: :short})"
              %dd.msg-list__content
                = m.content
              %dd.msg-list__content.py-2.border-bottom
                - if current_user.has_role? :admin or current_user.id == m.user.id
                  = link_to "編集", edit_project_message_path(@project, m)
                  = link_to "削除", project_message_path(@project, m), method: :delete
    - if current_user.has_role? :admin or @project.user_ids.include? current_user.id
      .col-sm-12.col-md-4
        .msg-form.pr-4
          = render partial: 'msg-board-form', locals: { message: @message, project: @project }


  -# .row.mb-4
  -#   .col-md-12
  -#     %p 本プロジェクトの顧客情報をCSV形式で出力できます（管理ユーザー権限）。
  -#     %p
  -#     - if current_user.has_role? :admin
  -#       = link_to "CSVエクスポート", project_posts_path(@project, format: :csv), class: 'btn btn-danger btn-sm'
  -# .row
  -#   .col-md-12.footer-menus
  -#     = link_to "コンタクトログへ戻る", project_posts_path(@project), method: :get, class: "btn btn-secondary "
