= javascript_pack_tag 'login'
= stylesheet_pack_tag 'login'

.signup-wrapper
  .signup-header
    FARMS
  .signup-content
    .box1
      <b>【FARMSとは？】</b><br />
      FARMSは小規模チーム向けの営業支援ツールです。<br />
      チームメンバーそれぞれが日々の顧客とのやりとりを記録していくことで、<br />
      その情報をチーム全員で共有することができます。<br />
      みんなで連携しながら、どんどん顧客発掘を行い、案件獲得に繋げていきましょう！<br /><br />

      <b>【主な機能】</b><br />
      ・プロジェクト作成・編集・削除機能<br />
      ・ユーザー作成・編集・削除機能<br />
      ・問い合わせ記録の登録・編集・削除機能<br />
      ・案件管理機能<br />
      ・コメント入力機能<br />
      ・ユーザー管理権限機能<br />
      ・登録データのCSVエクスポート<br />

    .box2
      .box-inner
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %h1 ログイン
          .box-email
            = f.label :email, "Eメール"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .box-password
            .a-row
              .column-left
                = f.label :password, "パスワード"
            = f.password_field :password, autocomplete: "current-password"
            -# = link_to "パスワードを忘れた場合", new_user_password_path
          .box-login
            = f.submit "ログイン"
          .box-login
            = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "backbtn btn btn-secondary"
  .signup-footer
    2020 &copy; tmytng
