%h1 プロジェクト編集

.index-box__img
  = image_tag @project.image.url
<br />
プロジェクト名：
= @project.name
<br />
プロフィール：
= @project.profile
<br />
.index-box__img_edit
  画像を変更する
  = form_with(model: @project, local: true) do |form|
    = form.label :image
    = form.file_field :image
    = form.hidden_field :image_cache
    = form.submit
