= search_form_for(@q, url: search_result_project_posts_path) do |f|

  .keyword
    = f.label :company_name_cont, "会社名"
    = f.search_field :company_name_cont, include_blank: true
  .keyword
    = f.label :prefecture_id_eq, "都道府県"
    = f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '指定なし'
  .keyword
    = f.label :company_address_cont, "住所"
    = f.search_field :company_address_cont, include_blank: true
  .keyword
    = f.label :company_url_cont, "URL"
    = f.search_field :company_url_cont, include_blank: true
  .keyword
    = f.label :contact_person_cont, "担当者"
    = f.search_field :contact_person_cont, include_blank: true
  .keyword
    = f.label :phone_number_cont, "電話番号"
    = f.search_field :phone_number_cont, include_blank: true
  .keyword
    = f.label :email_cont, "Eメール"
    = f.search_field :email_cont, include_blank: true
  .keyword
    = f.label :leadstatus_id_eq, "リードステータス*"
    = f.collection_select :leadstatus_id_eq, Leadstatus.all, :id, :name, include_blank: '指定なし'
  .keyword
    = f.label :contact_reason_cont, "問い合わせ概要"
    = f.search_field :contact_reason_cont, include_blank: true
  .keyword
    = f.label :contact_des_cont, "問い合わせ内容"
    = f.search_field :contact_des_cont, include_blank: true
  .keyword
    = f.label :purchase_date, "購入予定期間内"
    = f.date_field :purchase_date_gteq, include_blank: true
    〜
    = f.date_field :purchase_date_lteq_end_of_day, include_blank: true
  .keyword
    = f.label :created_at, "登録日"
    = f.date_field :created_at_gteq, include_blank: true
    〜
    = f.date_field :created_at_lteq_end_of_day, include_blank: true
  .keyword
    = f.label :updated_at, "更新日"
    = f.date_field :updated_at_gteq, include_blank: true
    〜
    = f.date_field :updated_at_lteq_end_of_day, include_blank: true
  .search
    = f.submit
