= render "layouts/global-navigation"
= render "layouts/pj-header"
.container
  .contact-field
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th
            %i.far.fa-eye.fa-fw
          %th CID
          %th 会社名
          %th 担当者
          %th ステータス
          %th 問い合わせ日時
          %th 更新日時
          %th 登録者
      %tbody
      - @posts.each do |post|
        %tr.table-row
          %td
            - if current_user.already_stocked?(post)
              = link_to post_stockers_path(post), method: :delete do
                %i.fas.fa-star
            - else
              = link_to post_stockers_path(post), method: :post do
                %i.far.fa-star
          %td
            = link_to project_post_path(@project, post) do
              %i.far.fa-list-alt
          %td #{post.id}
          %td #{post.company_name}
          %td #{post.contact_person}
          %td #{post.leadstatus.name}
          %td #{l post.created_at, format: :short}
          %td #{l post.updated_at, format: :short}
          %td #{post.user.name}

  = link_to search_project_posts_path(@project) do
    .chartbtn
      %i.fas.fa-chart-bar.fa-3x.my-fff
  = link_to search_project_posts_path(@project) do
    .calendarbtn
      %i.far.fa-calendar-alt.fa-3x.my-fff
  = link_to search_project_posts_path(@project) do
    .searchbtn
      %i.fas.fa-search-plus.fa-3x.my-fff
- if @project.user_ids.include? current_user.id
  = link_to new_project_post_path do
    .postbtn
      %i.fas.fa-pencil-alt.fa-3x.my-fff
