.post-contents
  = render "layouts/global-navigation"
  .post-main
    .post-field
      %h2.sub 新規案件登録画面
      = form_with(model: [@project, @post], class: "form-field",local: true) do |f|
        .company-info
          %h3.sub 顧客情報
          .form-group
            = f.label :company_name, "会社名", class: "label-text"
            %span{class: "require"} 必須
            = f.text_field :company_name, placeholder: "アイウエオ株式会社", id: "company_name", class: "form-control form-control-sm"
          .form-group
            = f.label :contact_reason, "都道府県", class: "label-text"
            %span{class: "require"} 必須
            = f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "---"}, class: "form-control form-control-sm" )
          .form-group
            = f.label :contact_reason, "所在地", class: "label-text"
            %span{class: "require"} 必須
            = f.text_field :contact_reason, placeholder: "新宿区新宿1-1-1", id: "contact_reason", class: "form-control form-control-sm"
          .form-group
            = f.label :company_url, "URL", class: "label-text"
            = f.url_field :company_url, placeholder: "http://test.com", id: "company_url", class: "form-control form-control-sm"
          .form-group
            = f.label :contact_person, "担当者名", class: "label-text"
            = f.text_field :contact_person, placeholder: "田中一郎", id: "contact_person", class: "form-control form-control-sm"
          .form-group
            = f.label :phone_number, "電話番号", class: "label-text"
            %span{class: "require"} 必須
            = f.telephone_field :phone_number, placeholder: "03-1111-2222", id: "phone_number", class: "form-control form-control-sm"
          .form-group
            = f.label :email, "メールアドレス", class: "label-text"
            %span{class: "require"} 必須
            = f.email_field :email, placeholder: "tanaka@aiueo.com", id: "email", class: "form-control form-control-sm"
        .status-info
          %h3.sub ステータス情報
          .form-group
            = f.label :leadstatus_id, "案件ステータス", class: "label-text"
            %span{class: "require"} 必須
            = f.collection_select(:leadstatus_id, Leadstatus.all, :id, :name,{include_blank: "---"}, class: "form-control form-control-sm" )
          .form-group
            = f.label :purchase_date, "購入予定時期:", class: "label-text"
            %span{class: "require"} 必須
            = f.date_field :purchase_date, class: "form-control form-control-sm"
          .form-group
            = f.label :product_id, "提案商材", class: "label-text"
            %span{class: "require"} 必須
            = f.collection_select(:product_id, Product.all, :id, :name,{include_blank: "---"}, class: "form-control form-control-sm" )
          .custom-file
            = f.label :post_files, "添付ファイル", class: "custom-file-label"
            = f.file_field :post_files, multiple: true, placeholder: "必要に応じてファイルを添付", class: "custom-file-input"
        .contact-info
          %h3.sub コンタクト情報
          .form-group
            = f.label :contact_reason, "概要", class: "label-text"
            %span{class: "require"} 必須
            = f.text_field :contact_reason, placeholder: "商品購入問い合わせ", id: "contact_reason", class: "form-control form-control-sm"
          .form-group
            = f.label :contact_des, "応対履歴", class: "label-text"
            %span{class: "require"} 必須
            = f.text_area :contact_des, class: "form-control form-text-area"
            = f.hidden_field :project_id, value: @project.id
        .log-info
          %h3.sub ログ情報
          .form-group
            9/3 14:44 〇〇さんが登録情報を更新しました。
        .post-footer
          .form-group
            %p= link_to "戻る", :back, class: "backbtn btn btn-primary"
          .form-group
            = f.submit "登録する", class: "btn btn-primary"

-# 追加予定
-# 問い合わせチャネル→選択式
-# 問い合わせ概要→入力式
-# 登録者→埋め込み式
-# 初回登録時間
-# 前回更新時間
-# BANT
-# S：状況質問（顧客の現状を把握する）P：問題質問（顧客に問題を認識させる）I：示唆質問（問題の重要性を認識させる）N：解決質問（理想的な状態をイメージさせる）

