%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'FARMS', root_path, class:"navbar-brand logo"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    = form_with(url: search_projects_path, local: true, method: :get, class: "form form-inline mx-auto my-2") do |form|
      = form.text_field :keyword, class: "input form-control mr-sm-1 search-input", placeholder:"Search", type: "search"
      = form.submit "検索", class: "button btn btn-outline-success my-2 my-sm-0"
    %ul.navbar-nav
      -# 追加機能未実装
      -# %li.nav-item
      -#   = link_to "プロジェクト", projects_path, class:"nav-link"
      -# %li.nav-item
      -#   = link_to "メッセージ", users_path, class:"nav-link mr-2"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.navbar-brand.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
          - if current_user.avatar.attached?
            = image_tag current_user.avatar, class:"account-img d-inline-block"
            = "#{current_user.name}"
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          = link_to "自身の情報", user_path(current_user), class:"dropdown-item"
          = link_to "メンバーディレクトリ", users_path, class:"dropdown-item"
          -# - if current_user.has_role? :admin
          -#   = link_to "プロジェクト新規作成", new_project_path, class:"dropdown-item"
          -#   = link_to "メンバー新規登録", users_path, class:"dropdown-item"
          .dropdown-divider
          = link_to "ログアウト", destroy_user_session_path, class:"dropdown-item"

