.header
  .top-navi
    .search-box
      -# プロジェクト内の検索ボックス
    -# .pjswitch
    -#   %ul.pj-list
    -#     - current_user.projects.each do |project|
    -#       %li.list-icons
    -#         = link_to project_path(project) do
    -#           = image_tag project.image.url
    .mymenu
      .account-img
        = image_tag current_user.image.url
      .account-name
        = link_to "#{current_user.name}", user_path(current_user)
  .pj-sub
    .pj-name-box
      .pj-img
        = image_tag @project.image.url
      .pj-name
        = @project.name
  .pj-member
    %ul.member-list
      members:
      - @project.users.each do |member|
        %li.member-icons
          = link_to user_path(member) do
            = image_tag member.image.url
  .pj-desc
    .desc-box
      このプロジェクトの詳細欄です。
