.jumbotron.mb-2.p-0
  .row
    .col-md-12
      .pj-sub
        = @project.name
  .row
    .col-md-12
      .pj-member.m-1
        %ul.member-list
          members:
          - @project.users.each do |member|
            %li.member-icons
              - if member.avatar.attached?
                = link_to user_path(member) do
                  = image_tag member.avatar
  .row.mb-2.pb-2
    .col-md-2
    .col-md-8
      .pj-desc
        .desc-box
          = @project.profile
    .col-md-2.pj-sidebtn
      - if request.path_info == project_path(@project)
        = link_to "コンタクトログへ", project_posts_path(@project), class: 'btn btn-primary btn-sm'
      - else
        = link_to "ダッシュボードへ", project_path(@project), class: 'btn btn-primary btn-sm'
